@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@300;400;600&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-color: beige;
    margin: 0;
    font-family: 'Gantari', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
}

.quiz-container{
    background-color: aliceblue;
    width: 550px;
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

h2{
    margin:0;
    text-align: center;
    padding: 1rem;
}

ul li label{
    cursor: pointer;
}

ul li{
    margin: 1rem 0;
    font-size: 1.2rem;
}

.quiz-header{
    padding: 4rem;
}

ul{
    list-style-type: none;
    padding: 0;
}

button{
    background-color: aquamarine;
    display: block;
    width: 100%;
    padding: 2rem;
    color: black;
    font-family: inherit;
    border:none;
    font-size: 1.5rem;
}
button:hover{
    background-color: rgb(74, 233, 180);
}
button:focus{
    background-color: aquamarine;
}
button:active{
    background-color: rgb(29, 237, 168);
}
.container{
    background-color: burlywood;
    display: flex;
    height: 700px;
    width: 800px;
    max-height: 100%;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
    border: 5px solid black;
}
.message{
    font-size: 80px;
}
.p_message{
    font-size: 30px;
    font-weight: 600;
}
.grid-container {
    width: 550px;
    height: 250px;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    margin-left: 105px;
    margin-top: 5px;
    padding: 5px;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    border: 5px solid #2196F3;
  }
  .categ{
    width: 760px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
  }