@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@300;400;600&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-image: url('images/dark.jpg');
    background-size: cover;
    background-position: center center;
    margin: 0;
    font-family: 'Gantari', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
}

.quiz-container{
    background-color: aliceblue;
    width: 550px;
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

h2{
    margin:0;
    text-align: center;
    padding: 1rem;
}

ul li label{
    cursor: pointer;
}

ul li{
    margin: 1rem 0;
    font-size: 1.2rem;
}

.quiz-header{
    padding: 4rem;
}

ul{
    list-style-type: none;
    padding: 0;
}

button{
    background-color: rgb(167,172,176);
    display: block;
    width: 100%;
    padding: 2rem;
    color: black;
    font-family: inherit;
    border:none;
    font-size: 1.5rem;
    font-weight: bold;
}
button:hover{
    background-color: rgb(64,67,60);
}
button:focus{
    background-color: rgb(64,67,60);
}
button:active{
    background-color: rgb(64,67,60);
}
.container{
    background-color: rgb(64,67,60);
    display: flex;
    height: 700px;
    width: 800px;
    max-height: 100%;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border: 5px solid black;
    color:rgb(167,172,176);
    border-radius: 1rem;  
}
.message{
    font-size: 80px;
    text-shadow: 2px 2px 3px black;
}
.p_message{
    font-size: 30px;
    font-weight: 600;
}
.grid-container {
    width: 750px;
    height: 250px;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color:rgb(167,172,176);
    margin-left: auto;
    margin-top: 25px;
    padding: 5px;
    border-radius: 3rem;
  }

  .grid-item {
    background-color: rgb(221,227,229);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    border: 5px solid rgb(167,172,176);
    border-radius: 3rem;
    padding: 10px;
    min-width: 200px;
  }
  .categ{
    width: 760px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 30px;
  }